/* CONTAINER */
.social-icons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* ICON */
.social-icons a svg{
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

/* HOVER */
.social-icons a:hover svg{
    transform: scale(1.2);
}

@media (max-width: 768px){
    .social-icons{
        justify-content: center;
        gap: 15px;
    }

    .social-icons a svg{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 480px){
    .social-icons{
        gap: 12px;
    }

    .social-icons a svg{
        width: 25px;
        height: 25px;
    }
}